#include "resource.h"
#include "src/Version.h"
#include <windows.h>

IDR_MANIFEST RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION TASK_MANAGER_VERSION_MAJOR,TASK_MANAGER_VERSION_MINOR,TASK_MANAGER_VERSION_PATCH,0
 PRODUCTVERSION TASK_MANAGER_VERSION_MAJOR,TASK_MANAGER_VERSION_MINOR,TASK_MANAGER_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040E04B0"
		BEGIN
			VALUE "FileDescription", "TaskManager\0"
			VALUE "FileVersion", TASK_MANAGER_VERSION_STRING
			VALUE "InternalName", "TaskManager\0"
			VALUE "OriginalFilename", "TaskManager.exe\0"
			VALUE "ProductName", "TaskManager\0"
			VALUE "ProductVersion", TASK_MANAGER_VERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x040e, 1200
	END
END
